@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Segoe UI, Roboto, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
}
:root {
  --bg: #0f1724;
  --card: #0b1220;
  --muted: #9aa5b1;
  --accent: #2dd4bf;
  --glass: rgba(255, 255, 255, 0.03);
  --background-color: #07070f;
  --third-color: #113156;
  --primary-color: #fcbb5a;
  --glow-color: #ff5031;
    /* --primary-color: #00ffea;
      --glow-color: #00f6ff; */
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

}


body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, var(--third-color), var(--background-color));
  background: var(--bg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll; /* фикс */
  color: #e6eef3
}

header {
  padding: 24px;
  text-align: center
}

header h1 {
  margin: 0;
  font-size: 1.6rem
}

.subtitle {
  margin: 6px 0 0;
  color: var(--muted)
}

main {
  display: grid;
  grid-template-columns: 1fr 420px;
  gap: 18px;
  padding: 18px
}

.card {
  background: var(--card);
  border-radius: 12px;
  padding: 16px;
  width: auto;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, .25), inset 2px 2px 5px rgba(255, 255, 255, .35), inset -3px -3px 5px rgba(0, 0, 0, .5);
}

.aquastatus {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.signal_val {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}

.text_sig {
  color: gold;
  font-weight: 600;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  padding: 0;
  margin-top: 5px;
  text-align: center;
  align-items: center
}

.wifi_val {
  color: red;
  font-weight: 600;
  font-size: 16px;
  width: 60px;
  font-family: Roboto, sans-serif;
  padding: 0;
  margin-top: 5px;
  text-align: center;
  align-items: center
}
.wifi_strike {
  text-decoration: line-through;
  opacity: 0.6;
}

.wifi_off {
  width: 35px;
  height: 35px;
  margin-left: 15px;
  background-image: url('wifi_offline.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.wifi_on {
  width: 35px;
  height: 35px;
  margin-left: 15px;
  background-image: url('wifi_online.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.card h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.card.logs h2 {
  display: inline-block;
}
.controls .control-row {
  display: flex;
  gap: 16px;
  align-items: flex-start
}

.control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.light_txt {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100px;
  font-size: 1rem;
  font-weight: 600;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, .25), inset 2px 2px 5px rgba(255, 255, 255, .35), inset -3px -3px 5px rgba(0, 0, 0, .5)
}

.pump_txt {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100px;
  font-size: 1rem;
  font-weight: 600;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, .25), inset 2px 2px 5px rgba(255, 255, 255, .35), inset -3px -3px 5px rgba(0, 0, 0, .5)
}

#light-toggle {
  margin-left: 78px;
}


/* ============Button========== */
button {
  border: none;
  cursor: pointer;
}
.btn {
  background: linear-gradient(0deg, #303034 0%, #424141 100%);
  box-shadow: inset 0px 1px 1px #696969, 0px 5px 10px #040404;
  padding: 1em;
  position: relative;
  color: #eee;
  margin: 1em;
  transition: all 0.1s ease;
}

.btn i {
  font-size: 2.7em;
}

.btn::before {
  content: "";
  background: #040404;
  width: 104%;
  height: 104%;
  border-radius: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.btn-pressed {
  background: #333;
  box-shadow: inset 0px 1px 1px #696969;
}

.btn-pressed::before {
  box-shadow: 0px 1px 1px #696969;
  width: 106%;
  height: 106%;
}

.btn-circle {
  border-radius: 50%;
}

.btn-rounded {
  border-radius: 1em;
}

.text-inset {
  text-shadow:
    0px 1px #696969,
    0px -1px 1px #0e0e0e;
  color: #1c1c1c;
}

.btn-pressed,
.btn-pressed .text-inset {
  color: var(--primary-color);
  text-shadow: 0px 0px 10px var(--glow-color);
}
.btn:active {
  transform: translateY(2px) translateX(2px);
  box-shadow: 2px 2px 6px #555
}

/* ============Range Sliders=========== */
/* Контейнер */
.hue {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  width: 220px;
}

/* Числовой индикатор */
#hue-value {
  width: 40px;
  text-align: right;
  font-size: 1em;
  color: #eee;
}

/* Слайдер */
#hue-slider {
  appearance: none;
  width: 100%;
  height: 0.6em;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(90deg,
      red 0%, yellow 17%, lime 33%, cyan 50%, blue 67%, magenta 83%, red 100%);
  cursor: pointer;
}

/* Thumb */
#hue-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.4em;
  height: 1.4em;
  background: #111;
  border-radius: 50%;
  box-shadow:
    inset 1px 1px 2px #555,
    inset -1px -2px 3px #000,
    0px 0px 3px #000;
  cursor: grab;
}

#hue-slider::-webkit-slider-thumb:active {
  cursor: grabbing;
}

/* Indicators */
.indicators {
  display: flex;
  gap: 12px;
  margin-top: 16px
}

.indicator {
  flex: 1;
  background: var(--glass);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, .25), inset 2px 2px 5px rgba(255, 255, 255, .35), inset -3px -3px 5px rgba(0, 0, 0, .5);
}
.indicator.temp {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.indicator.level {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.big {
  font-size: 1.5rem;
  font-weight: 700
}

.level-bar {
  position: relative;
  width: 50px;
  height: 120px;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.03);
  display: block !important;
      box-shadow: 4px 4px 6px rgba(0, 0, 0, .25), inset 1px 1px 4px rgba(255, 255, 255, .35), inset -2px -2px 4px rgba(0, 0, 0, .5)
}

.level-fill {
  position: absolute !important;
  bottom: 0 !important;
  left: 0;
  width: 100%;
  height: 0%;
  background: linear-gradient(180deg, #0b486b 0%, #06313f 100%);
  transition: height .5s ease;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, .25), inset 2px 2px 5px rgba(255, 255, 255, .35), inset -3px -3px 5px rgba(0, 0, 0, .5);
}

.level-percent {
  display: inline-block;
  margin-left: 12px;
  vertical-align: middle
}

.tank {
  position: relative;
  height: 320px;
  border-radius: 12px;
  background: linear-gradient(180deg, #06202b, #02121a);
  padding: 12px
}

.water {
  position: relative;
  height: 250px;
  background: linear-gradient(180deg, #0b486b 0%, #06313f 100%);
  border-radius: 8px;
  overflow: hidden;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, .25), inset 1px 1px 4px rgba(255, 255, 255, .35), inset -2px -2px 4px rgba(0, 0, 0, .5)
}

/* ======Led-Strip====== */
.led-strip {
  --hue: 200;
  --brightness: 100;
  position: relative;
  height: 12px;
  margin-bottom: 15px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: hsl(var(--hue), 100%, 50%);
  box-shadow: 0 0 14px hsl(var(--hue), 100%, 50%);
  filter: brightness(calc(var(--brightness) * 1%));
  transition: 0.2s ease;
}

.led-strip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 140px;
  pointer-events: none;

  background: linear-gradient(to bottom,
      hsla(var(--hue), 100%, 50%, calc(var(--brightness)/100 * 0.6)),
      hsla(var(--hue), 100%, 50%, calc(var(--brightness)/100 * 0.25)) 40%,
      rgba(0, 0, 0, 0) 100%);

  filter: blur(32px);
  transition: 0.2s ease;
}

/* ============Brightness========== */
.brightness {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  width: 220px;
}

#brightness-value {
  width: 40px;
  text-align: right;
  font-size: 1em;
  color: #eee;
}

/* Slider track */
#brightness-slider {
  appearance: none;
  width: 100%;
  height: 0.6em;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(90deg, #000, #fff);
  cursor: pointer;
}

/* Thumb */
#brightness-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.4em;
  height: 1.4em;
  background: #111;
  border-radius: 50%;
  box-shadow:
    inset 1px 1px 2px #555,
    inset -1px -2px 3px #000,
    0px 0px 3px #000;
  cursor: grab;
}

#brightness-slider::-webkit-slider-thumb:active {
  cursor: grabbing;
}

/* Бабблы */
.bubbles {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  height: 100%;
  pointer-events: none
}

.bubble {
  position: absolute;
  bottom: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.6);
  opacity: 0.9;
  animation: rise 3s linear infinite
}

@keyframes rise {
  0% {
    transform: translateY(0) scale(0.6);
    opacity: 0.9
  }

  60% {
    opacity: 0.6
  }

  100% {
    transform: translateY(-260px) scale(1.1);
    opacity: 0
  }
}

/* Fish */
.fish {
  position: absolute;
  width: 60px;
  animation: swim linear infinite;
}

.fish.paused {
  filter: brightness(0.1);
  /* чуть видны в темноте */
}

.fish img {
  width: 100%;
  height: auto;
  display: block;
}

.fish1 {
  top: 10%;
}

.fish2 {
  top: 30%;
}

.fish3 {
  top: 50%;
}

.fish4 {
  top: 70%;
}

@keyframes swim {
  0% {
    transform: translateX(-20px) scaleX(1);
  }

  49% {
    transform: translateX(1300px) scaleX(1);
  }

  50% {
    transform: translateX(1300px) scaleX(-1);
  }

  99% {
    transform: translateX(-20px) scaleX(-1);
  }

  100% {
    transform: translateX(-20px) scaleX(1);
  }
}

.logs {
  max-height: 180px;
  overflow: auto;
}

#log {
  list-style: none;
  padding: 0;
  margin: 0;
}

#log li {
  padding: 6px 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.02);
  font-size: 0.9rem;
  color: var(--muted)
}

footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  width: 100%;
  padding: 10px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 2);
}

/* Адаптив */
@media (max-width:920px) {
  main {
    grid-template-columns: 1fr;
  }
  .control {
    flex: 0;
  }
@keyframes swim {
  0% {
    transform: translateX(-10px) scaleX(1);
  }
  49% {
    transform: translateX(780px) scaleX(1);
  }
  50% {
    transform: translateX(780px) scaleX(-1);
  }
  99% {
    transform: translateX(-10px) scaleX(-1);
  }
  100% {
    transform: translateX(-10px) scaleX(1);
  }
}
}

@media (max-width:720px) {
  @keyframes swim {
    0% {
      transform: translateX(-20px) scaleX(1);
    }
    49% {
      transform: translateX(580px) scaleX(1);
    }
    50% {
      transform: translateX(580px) scaleX(-1);
    }
    99% {
      transform: translateX(-20px) scaleX(-1);
    }
    100% {
      transform: translateX(-20px) scaleX(1);
    }
  }
}

@media (max-width:520px) {
  header {
    padding: 5px;
  }
  header h1 {
    display: none;
  }
    main {
      gap: 8px;
      padding: 8px
    }
  .card {
    padding: 10px;
  }
    
  .card.aquarium h2 {
    padding: 5px;
  }
  .controls .control-row {
    gap: 10px;
  }
    .tank {
      height: 200px;
      padding: 12px
    }
  .water {
    height: 150px;
  }
    .fish {
      width: 35px;
    }
  .level-bar {
    width: 120px;
    height: 50px;
  }
  
    .logs {
      max-height: 100px;
    }

    #log li {
      padding: 3px 4px;
      font-size: 0.7rem;
      color: var(--muted)
    }
  @keyframes swim {
    0% {
      transform: translateX(-20px) scaleX(1);
    }
    49% {
      transform: translateX(340px) scaleX(1);
    }
    50% {
      transform: translateX(340px) scaleX(-1);
    }
    99% {
      transform: translateX(-20px) scaleX(-1);
    }
    100% {
      transform: translateX(-20px) scaleX(1);
    }
  }
}